include README.rst
include MANIFEST.in
include LICENSE
include setup.cfg
include setup.py
recursive-include IOAPIpytools *
recursive-include IOAPIpytools/data *
include IOAPIpytools/data/SiB_20080701_1.25x1.0_IOAPI.png
include docs/users/*rst
include docs/api/*rst
include docs/README.md
include docs/index.md
include docs/index.rst
include docs/make.py
include docs/conf.py
include docs/Makefile
include docs/make.bat
include docs/_config.yml
